.i{
	margin-left:250px;
	margin-top: -150px;
}
.abc{
	margin-left: 550px;
	margin-top: -15px;
}
.b{
	margin-left: 490px;
	margin-top: -15px;
}


.p{
	margin-left: 550px;
	margin-top: -15px;
}
.gi{
	margin-top: -5px;

}
.ai{
	margin-top:-30px;
	display: block;
}
.s{
	margin-top: -15px;

}
.r{
	margin-top: -15px;

}
.regno{
	margin-top:-10px;
}
.date{
		margin-top:-10px;

}
.other{
	margin-top: -50px;
}
