body{
	background-color: lightcyan;
}
.abc{
margin-left:550px;
font-size: 50px;
font-weight: bold; 
font-family: times new roman;
display: inline-flex;
}
.abc1{
font-size: 23px;
margin-left:99px;
font-family: times new roman;
display: inline-flex;
margin-top: -25px;
display: block;
}
.b{
	margin-left:470px;
	margin-top: -30px;
	font-style: Italic;
	font-size: 20px; 
	font-weight: bold;


}
.p{
	margin-left:630px;
	font-size: 27px; 
	font-family: times new roman;
	font-weight: bold;



}
.d{
	margin-left: 100px;
	font-size: 25px;
	font-family: times new roman;
	font-weight: bold;
}
.des{
	font-size: 23px; 
	font-family: times new roman;
	margin-left: 250px;
	margin-top: -49px;


}
.F{
margin-left: 97px;
font-weight: bold;
font-size: 20px;
}
.ll{
	margin-left: 80px;
	font-size: 23px;
	font-family: Times new roman;

}
.L2{
	margin-left: 80px;
	font-size: 23px;
	font-family: Times new roman;


}
.L3{
		margin-left: 80px;
	font-size: 23px;
	font-family: Times new roman;


}
.L4{
		margin-left: 80px;
	font-size: 23px;
	font-family: Times new roman;


}
.L5{
		margin-left: 80px;
	font-size: 23px;
	font-family: Times new roman;


}
.g{
	margin-left: 97px;
font-weight: bold;
font-size: 20px;


}
.L6{
	margin-left: 80px;
	font-size: 23px;
	font-family: Times new roman;


}
.L7{
	margin-left: 80px;
	font-size: 23px;
	font-family: Times new roman;



}
.h{
	margin-left: 97px;
font-weight: bold;
font-size: 20px;



}
.L8{
	margin-left: 80px;
	font-size: 23px;
	font-family: Times new roman;


}
.L9{
	margin-left: 80px;
	font-size: 23px;
	font-family: Times new roman;


}
.L10{
margin-left: 80px;
	font-size: 23px;
	font-family: Times new roman;

}
.L11{
	margin-left: 80px;
	font-size: 23px;
	font-family: Times new roman;


}
.i{
		
margin-left: 97px;
font-weight: bold;
font-size: 20px;


}
.L12{
		margin-left: 80px;
	font-size: 23px;
	font-family: Times new roman;


}
.L13{
		margin-left: 80px;
	font-size: 23px;
	font-family: Times new roman;


}
.L14{
		margin-left: 80px;
	font-size: 23px;
	font-family: Times new roman;


}
.L15{
	margin-left: 80px;
	font-size: 23px;
	
	font-family: Times new roman;

}
.j{
	margin-left: 97px;
font-weight: bold;
font-size: 20px;


}
.L16{
	margin-left: 80px;
	font-size: 23px;
 font-family: Times new roman;

}
.L17{
	margin-left: 80px;
	font-size: 23px;
	font-family: Times new roman;


	



}
.L18{
	margin-left: 80px;
	font-size: 23px;
	font-family: Times new roman;


}